@media (hover: hover) {
  a:hover {
    font-weight: bold;
 }
}

* {
  font-family: 'Baskerville', sans-serif;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

.navbar {
  top: 0;
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.welcome-section {

}

h1 {
  font-weight: 500;
}

.projects {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  grid-auto-rows: minmax(300px, auto);
}

.project-tile {

}

.external-links {
  bottom: 30px;
}

.footer {
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 10px;
}

.navbar, .external-links {
  right: 30px;
}

.external-links, .navbar, .footer {
  position: absolute;
}

a {
  padding-left: 10px;
}
