@media (hover: hover) {
      a:hover {
    font-weight: 400;
  }
}

:root {
  --tiffany: #81D8D0;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: black;
  text-decoration: none;
}
  
body {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  background: linear-gradient(
    var(--tiffany),  
  transparent
  );
}
.navbar {

    /* height: 50px; */
    align-items: center;
}

.external-link, .navbar {
  position: fixed;
  width: 100%;
}

.welcome-section {
  margin-left: 30px;
}

  .project-tile-1 {
    border: 1px solid black;
    height: 200px;
    width: 160px;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .project-tile-2 {
    border: 1px solid black;
    height: 200px;
    width: 160px;
    grid-column: 2 / 2;
    grid-row: 1;
  }
  .project-tile-3 {
    border: 1px solid black;
    height: 200px;
    width: 160px;
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .project-tile-4 {
    border: 1px solid black;
    height: 200px;
    width: 160px;
    grid-column: 2 / 2;
    grid-row: 2;
  }

  .projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    gap: 10px;
  }

.footer {
  bottom: 0;
  position: fixed;
  font-size: 14px;
  width: 100%;
  background: linear-gradient(
  transparent,
  var(--tiffany))
;
}

  a {
    padding-right: 6px;
  }

  .external-link {
    text-align: right;
    bottom: 40px;
  }
  